<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="first_name">First Name</label>
    <input name="first_name" placeholder="First Name" type="text" required/>
    <label for="family_name">Family Name</label>
    <input name="family_name" placeholder="Family Name" type="text" />
    <label for="email">Email Address</label>
    <input name="email" placeholder="Email" type="text" />
    <label for="username">Username</label>
    <input name="username" placeholder="Username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Sign Up</button>
  </form>
</body>
</html>